<header>
  <h1><img src="/assets/svg/logo-note.svg" alt="Web Note" title="Web Note" /></h1>
  <nav>
    <a routerLink="/dashboard/notes" routerLinkActive="active">
      <span><i class="far fa-sticky-note"></i> All Notes</span>
    </a>
    <a routerLink="/dashboard/trash" routerLinkActive="active">
      <span><i class="far fa-trash"></i> Trash</span>
    </a>
    <a routerLink="/dashboard/setting" routerLinkActive="active">
      <span><i class="far fa-cog"></i> Settings</span>
    </a>
  </nav>
  <div id="tags">
    <h2>Tags</h2>
    <a routerLink="/" routerLinkActive="active">name</a>
    <a routerLink="/" routerLinkActive="active">name</a>
    <button><i class="fas fa-plus-circle"></i> Add Tag</button>
  </div>
  <div id="footer-header">
    <button (click)="userService.logout()"><i class="far fa-sign-out-alt"></i> Log out</button>
  </div>
</header>
