<div class="secondary-menu">
  <h1>All Notes</h1>
  <form id="search-form">
    <input type="search" placeholder="Search Note" />
    <i class="fas fa-search"></i>
  </form>
  <ul id="list-all-note" class="list-note">
    <li>
      <a routerLink="/" routerLinkActive="active">
        <div class="date">
          <div>
            <span>27</span>
            <span>Jan</span>
          </div>
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.28 26.67">
            <polygon points="0,26.67 0,0 26.67,0 "/><polygon points="53.28,26.67 26.61,0 53.28,0 "/>
          </svg>
        </div>
        <div class="resume">
          <h2>Title Note</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</p>
          <div>Tag 1</div>
        </div>
      </a>
    </li>
  </ul>
</div>
