form
  display: flex
  flex-direction: column
  min-height: 100%
  width: 100%
  input, textarea, select
    width: 100%
    padding: 10px
    border: solid 1px #a3a3a3
    border-radius: 10px
    margin-bottom: 10px

  textarea
    flex: auto
