form
  display: flex
  flex-direction: column
  min-height: 100%
  width: 100%
  input, textarea, select
    width: 100%
    padding: 10px
    border: solid 1px#e7e7e7
    border-radius: 8px
    margin-bottom: 5px

  textarea
    flex: auto
    margin-bottom: 15px

  input
    padding: 2px 10px
    font-weight: bolder
    font-size: 1.5em

  &>span
    display: flex
    align-items: center
    justify-content: space-between

    .btn-note
      display: inline-flex
      align-items: center
      justify-content: center
      font-size: .875rem
      letter-spacing: .25px
      border-radius: 4px
      cursor: pointer
      font-weight: 500
      height: 36px
      min-width: 80px
      padding: 0 16px
      opacity 0.7
      margin: 0 5px

      &:hover
        opacity 1

      &.btn-blue
        background-color: #1a73e8
        color: #fff

      &.btn-gray
        background-color:#757575
        color: #fff

    .btn-icon
      width: 30px
      height: 30px
      border-radius: 50%
      display: inline-flex
      align-items: center
      justify-content: center
      border: solid 1px
      background: #757575
      color: white
      margin: 0 2px

      &:hover
        background-color: white
        cursor: pointer

        &.icon-red
          color: red

        &.icon-orange
          color: #fe8120

#pdf>div
  position: fixed
  top: 0
  left 0
  width: 100%
  min-height: 100%
  background: white
  text-align: justify
