<form id="single-note">
  <input [(ngModel)]="note.title" type="text" name="titel" placeholder="Title">
  <select [(ngModel)]="note.tag" name="tag">
    <option [ngValue]="">No Tag</option>
    <option *ngFor="let tag of userService.user.tags" [ngValue]="tag">{{tag}}</option>
  </select>
  <textarea [(ngModel)]="note.text" name="text" placeholder="Your Note"></textarea>
  <span>
    <button (click)="send()" class="btn-note btn-blue">
      <ng-container *ngIf="id">Update</ng-container>
      <ng-container *ngIf="!id">Save</ng-container>
    </button>
    <span>
      <ng-container *ngIf="id">
        <button (click)="export()" class="btn-note btn-gray"><i class="fas fa-file-download"></i>Export</button>
        <button (click)="print()" class="btn-note btn-gray"><i class="fas fa-print"></i>Print</button>
        <button (click)="savePDF()" class="btn-note btn-gray"><i class="far fa-file-pdf"></i>PDF</button>
        <button (click)="changeKey()" class="btn-icon icon-orange"><i class="fas fa-share-alt"></i></button>
        <button (click)="trash()" class="btn-icon icon-red"><i class="fas fa-trash-alt"></i></button>
      </ng-container>
      <button routerLink="/dashboard/notes" class="btn-icon icon-orange"><i class="fas fa-arrow-left"></i></button>
    </span>
  </span>
</form>
<div id="pdf"></div>
<div id="share-user" [ngClass]="{'active': keyTap}">
  <span (click)="changeKey()"></span>
  <div>
    <i (click)="changeKey()" class="fas fa-times-circle"></i>
    <h3>Shared Users</h3>
    <form>
      <ng-container *ngFor="let checkUser of users; let i=index">
        <label *ngIf="checkUser.id != user.id">
          <input [(ngModel)]="users" type="checkbox" name="user-1"> {{checkUser.name}}
        </label>
      </ng-container>
    </form>
  </div>
</div>
