<form>
  <input [(ngModel)]="note.title" type="text" name="titel" placeholder="Title">
  <select>
    <option>Tag 1</option>
    <option>Tag 2</option>
    <option>Tag 3</option>
    <option>Tag 4</option>
  </select>
  <textarea [(ngModel)]="note.text" name="text" placeholder="Your Note"></textarea>
  <span>
    <button (click)="send()" class="btn-note btn-blue">
      <ng-container *ngIf="id">Update</ng-container>
      <ng-container *ngIf="!id">Save</ng-container>
    </button>
    <span>
      <ng-container *ngIf="id">
        <button (click)="trash()" class="btn-icon"><i class="fas fa-trash-alt"></i></button>
      </ng-container>
      <button routerLink="/dashboard/notes" class="btn-icon"><i class="fas fa-arrow-left"></i></button>
    </span>
  </span>
</form>
