@import '../../../../style/global-btn'
form
  display: flex
  flex-direction: column
  min-height: 100%
  width: 100%
  input, textarea, select
    width: 100%
    padding: 10px
    border: solid 1px#e7e7e7
    border-radius: 8px
    margin-bottom: 5px

  textarea
    flex: auto
    margin-bottom: 15px

  input
    padding: 8px 10px
    font-weight: bolder
    font-size: 1.3em
  select
    font-size: .8em

  &>span
    display: flex
    align-items: center
    justify-content: space-between

#pdf
  position: absolute
  left 0
  width: 820px
  background: white
  text-align: justify
