@import '../../../../style/global-btn'
section
  display: flex
  flex-direction: column
  min-height: 100%
  width: 100%

  h2, textarea, p
    width: 100%
    padding: 10px
    border-bottom: solid 1px#e7e7e7
    margin-bottom: 5px

  textarea
    flex: auto
    margin-bottom: 15px

  input
    padding: 2px 10px
    font-weight: bolder
    font-size: 1.5em
