section
  display flex
  width 100%
  height: 100%
.secondary-menu
  width: 420px
  max-width: 100%
  padding-right: 20px
  border-right: solid 1px #a3a3a3
  height: 100%

  h1
    font-size: 2.5em
    color: #fe8120
    font-weight: normal
    display inline-table
    vertical-align: middle

  button
    display: inline-table
    background-color: #c3c3c3
    padding: 2px 20px
    border-radius: 7px
    margin-left: 10px
    vertical-align: sub
    font-size: 0.8em

    &:hover
      background-color: #fe8120
      color: white
      cursor: pointer

  #search-form
    width: 100%
    display: flex
    align-items: center
    overflow: hidden
    border: solid 1px #a3a3a3
    border-radius: 10px

    input
      padding: 5px 10px
      flex: auto
    i
      padding: 0 10px

  .list-note
    padding: 10px 0
    overflow-y: auto

    li
      padding: 10px 0

      a
        display: flex
        background-color: #e7e7e7
        border-radius: 10px

        .date
          width: 80px
          margin: 0 5px 5px 10px

          div
            background-color: #fe8120
            color: white
            width: 100%
            padding: 5px 0

            span
              display: table
              margin: 0 auto
              line-height: 1em

              &:first-child
                font-size: 1.5em

          svg polygon
            fill #fe8120

        .resume
          flex: auto
          padding: 10px

          p
            font-size: 0.8em
            line-height: 1.2em

          div
            display: table
            padding: 2px 20px
            background-color: #606060
            color: white
            font-size: 0.6em
            margin-top: 5px
            border-radius: 10px

#router-note
  flex: auto
  padding-left: 20px

