<section>
  <div>
    <h1><img src="/assets/svg/logo-c-negative.svg" alt="Web Note" title="Web Note" /></h1>
    <img src="/assets/svg/woman-c.svg" alt="Woman">
  </div>
  <main>
    <h1><img src="/assets/svg/logo-note.svg" alt="Web Note" title="Web Note" /></h1>
    <router-outlet></router-outlet>
    <footer>
      <p>Desenvolvido por <a href="http://vitorzortea.sitepessoal.com/" target="_blank">Vitor Zortéa</a></p>
      <div>
        <a href="https://github.com/vitorzortea" target="_blank"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/vitorzortea/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5563984850350" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
        <a href="mailto: vitorzortea@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
      </div>
    </footer>
  </main>
</section>
